.project-section{
    h1{
        text-align: center;
    }

    .row{
        @include flexboxLayout;

        .col{
            padding: $paddingGrid;
        }
    }
}

.landimg-section{
    h1{
        text-align: center;
    }

    .row{
        @include flexboxLayout;

        .col{
            padding: $paddingGrid;

            a{
                position: relative;

                .photo-hover{
                    @include photoHover;
                    margin-bottom: 3px;
                    margin-top: -320px;
                }

                &:hover .photo-hover{
                    display: flex;
                }
            }
        }
    }
}

.portimg-section{
    h1{
        text-align: center;
    }

    .row{
        @include flexboxLayout;

        .col{
            padding: $paddingGrid;

            a{
                position: relative;

                .photo-hover{
                    @include photoHover;
                    margin-bottom: 3px;
                    margin-top: -735px;
                }

                &:hover .photo-hover{
                    display: flex;
                }
            }
        }
    }
}

/* responsive design */

@include mobileOnly{
    .project-section{
        .row{
            @include flexboxLayoutResponsive;

            .col{
                margin: $marginGrid;
            }
        }
    }

    .landimg-section{
        .row{
            @include flexboxLayoutResponsive;

            .col{
                margin: $marginGrid;

                img{
                    width: 350px;
                    height: 350px;
                }
            }
        }
    }

    .portimg-section{
        .row{
            @include flexboxLayoutResponsive;

            .col{
                margin: $marginGrid;

                img{
                    width: 350px;
                    height: 400px;
                }
            }
        }
    }
}